.token {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    
}

.empty {
    background-color: #e5e6e8;
    cursor: pointer;
}

.empty:hover {
    background-color: #fc7871;
}

.filled {
    cursor: default;
}